.nyc_output
coverage
logs
node_modules
public/js
app.css
*.map
*.bat
*.log
*.bak
/data/
/.idea/.gitignore
/.idea/ktm.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
